
@{
    ViewBag.Title = "Library";
}

<head>
    <link rel="stylesheet" href="bootstrap-magnify.min.css">
</head>

<body>
    <h2>Library</h2>

    <p>Table places here</p>

    <p>Photo places here</p>

    <div>
        <img src="~/Content/Img/testPhotoGood.png" height="400" />
    </div>
</body>
