@using HW1c.Models;
@model ReportViewModel

@{
    ViewBag.Title = "MoreDetail";
}
<div class="container-fluid">
    <br />
    <h2 class="text-primary">More Detail Report</h2>
    <br />
</div>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column">
                <button type="button" class="btn btn-outline-light btn-lg active" aria-pressed="true">@Html.ActionLink("App Usage", "Index", "Report", null, new { @class = "nav-link" })</button>
                <br />
                <button type="button" class="btn btn-outline-secondary btn-lg active" aria-pressed="true">@Html.ActionLink("Test Accuracy", "Accuracy", "Report", null, new { @class = "nav-link" })</button>
                <br />
                <button type="button" class="btn btn-outline-dark btn-lg disabled" aria-disabled="true">@Html.ActionLink("More Detail", "MoreDetail", "Report", null, new { @class = "nav-link" })</button>
            </div>
        </div>
        <div class="col-5">

            <div class="row">
                <img src="~/Content/Img/LineChart.PNG" height="300" class="ChartBox mx-auto" />
            </div>

        </div>
    </div>
</div>

