@using HW1c.Models;
@model ReportViewModel

@{
    ViewBag.Title = "MoreDetail";
}

<br />
<br />
<h2>More Detail Report</h2>
<br />
<div class="row">

    <div class="col-2">
    </div>
    <div class="col-8">
        <img src="~/Content/Img/MD_chart1.png" height="355" class="mx-auto align-items-md-center" />
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="~/Content/Img/MD_chart2.png" height="270" class="mx-auto" />
    </div>
    <div class="col-4">
        <img src="~/Content/Img/MD_chart3.png" height="270" width="315" class="mx-auto" />
    </div>
    <div class="col-4">
        <img src="~/Content/Img/MD_chart6.png" height="270" class="mx-auto align-items-md-end" />
    </div>
</div>
<p>

</p>
<p>

</p>
<div class="row">
    <div class="col-4">
        <img src="~/Content/Img/MD_chart4.png" height="270" width="305" class="mx-auto d-block" />
    </div>
    <div class="col-4">
        <img src="~/Content/Img/MD_chart7.png" height="270" width="305" class="mx-auto d-block" />
    </div>
    <div class="col-4">
        <img src="~/Content/Img/MD_chart5.png" height="270" width="305" class="mx-auto d-block" />
    </div>
</div>
